# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.venv

# Blender backup files
*.blend1

# Symlinks
butils/btyping/cycles

# Compiled shaders
*.oso

# Coverage cache
.coverage

# blender
blender-*/