# Compiled Python files
__pycache__/

# Build directories
dist/

# Environments
.venv

# Blender backup files
*.blend1

# Symlinks
butils/btyping/cycles

# Compiled shaders
*.oso

# Coverage cache
.coverage