# Compiled Python files
__pycache__/

# Build directories
dist/

# Environments
.venv

# Blender backup files
*.blend1

# Symlinks
butils/btyping/cycles

# Compiled shaders
*.oso

# caches
.coverage
.ruff_cache

# Blender add-ons
Poliigon
static/models/*
static/hdris/*
static/textures/*
static/fonts/*
static/images/photogrammetry/*

# Beginner tutorial series process files
experiments/30_*/renders/donut_anim*
experiments/30_*/renders/render*
experiments/30_*/renders/viewport*
experiments/30_*/part*.blend

# theme files
# experiments/31_*/themes/*.{xml,toml}

# Meshroom cache
MeshroomCache
Meshroom-*
